<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/general.css">
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/404.css">
    <link rel="shortcut icon" href="https://portafoliopersonal.onrender.com/multimedia/fav.ico" type="image/x-icon">
    <title>Pagina No Encontrada</title>
</head>
<body class="sinbg">
    <div class="err">
        <img src="https://portafoliopersonal.onrender.com/multimedia/404.png" alt="">
        <div class="modal">
            <h4>"La pagina <%= ruta%> no ha sido encontrada :("</h4>
            <a href="/">Volver al inicio</a>
        </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2717771735314308"
     crossorigin="anonymous"></script>
</body>
</html>