<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2717771735314308"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/general.css">
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/formulario.css">
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/mediaQueries.css">
    <link rel="shortcut icon" href="https://samuelvasquezgonzalez.github.io/API-portf/multimedia/fav.ico" type="image/x-icon">
    <title>Contactame | Samuel González</title>
</head>
<body>
    <div class="formcontainer">
        <form action="/correos" method="post" class="formulario secciones">
            <h4 id="changeText">Envieme su correo</h2>
            <input type="text" name="nombre" class="input" placeholder="Nombre" maxlength="45" required>
            <input type="email" name="correo" class="input" placeholder="example@mail.com" max="155" required>
            <textarea name="mensaje" cols="30" rows="10" class="text-area" placeholder="Mi mensaje es..." maxlength="255" required></textarea>
            <input type="submit" value="Enviar Mensaje" class="btn-enviar">
        </form>
    </div>
</body>
</html>