<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/general.css">
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/nav.css">
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/cuerpo.css">
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/footer.css">
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/formulario.css">
    <link rel="stylesheet" href="https://portafoliopersonal.onrender.com/css/mediaQueries.css">
<!-- 
      .#####.     .####.      .####.  .####.      ##      ##
     ##           ##   ##    ##   ###    ##     ##      ##
      ;#####;    ##    ##    ##   ##     ##     ##      ##
           ##    ######      ##    #      ##     ##      ## 
     ;#####.    ##     ##   ##           ##      '######'     //
°°                                                           //   °°
    .######     .#####.     .##       ##    ########.   .####.
    ##         ##     ##    ## ##     ##        ###     ##  ##
    ######     ##     ##    ##  ##    ##       ###      ##   ##
    ##   ##    ##     ##    ##     ## ##    ###         ######
    '#####''   '#####'     ##        ##'  '########    ##    ##

    Muchas gracias por interesarse en mi y en mi codigo, puede encontrar mas sobre mis proyectos en https://github.com/SamuelVasquezGonzalez
 -->
    <link rel="author" href="https://github.com/SamuelVasquezGonzalez">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="shortcut icon" href="https://samuelvasquezgonzalez.github.io/API-portf/multimedia/fav.ico" type="image/x-icon">
    <meta name="description" content="Mi nombre es samuel Vasquez Gonzalez y soy un programador front-end y back-end en la web. Este portafolio tiene informacion sobre proyectos que he realizado y como es mi forma de trabajo, tambien sobre mis conocimientos y caminos">
    <meta name="keywords" content="Samuel, Samuel Gonzalez, samuel gonzalez portafolio, desarrollo web, programador. trabajo, pagina"/>
    <meta name="author" content="Samuel Vásquez González"/>
    <meta name="copyright" content="Samuel González" />
    <meta name="robots" content="index"/>
    <meta name="robots" content="follow"/>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" integrity="sha512-fHXRw0CXruAoINU11+hgqYvY/PcsOWzmj0QmcSOtjlJcqITbPyypc8cYpidjPurWpCnlB8VKfRwx6PIpASCUkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Samuel González</title>
</head>
<body class="body" id="particles-js">
    <nav class="nav" id="inicio">
        <ul class="ul">
            <li class="li activo"><a href="">Inicio</a></li>
            <li class="li"><a href="#proyectos">Proyectos</a></li>
            <li class="li"><a href="#habilidades">Habilidades</a></li>
            <li class="li"><a class="si" href="#acercade">Acerca de</a></li>
            <li class="li"><a href="/contact-me">Contactar</a></li>
            <span class="indicador"></span>
        </ul>
    </nav>
    <!-- --------------------------------- -->
    <!-- --------------------------------- -->
    <!-- --------------------------------- -->
    <header class="header" id="inicio">
        <h1 id="cero">SAMUEL GONZÁLEZ</h1>
        <div class="container">
            <p class="parrafo negrilla dif">
                LA ODISEA DE UN DESARROLLADOR WEB
            </p>
            <div class="animacion activarAnimacion">
                <div class="img-moneda" title="Dame Un click ;)">
                    <div class="frente">
                        <img class="banskeleton" src="" alt="">
                    </div>
                    <div class="atras">
                        <img class="banyo" src="" alt="">
                    </div>
                </div>
                <div class="satellite">
                    <img class="banluna" src="" alt="">
                </div>
            </div>
            <p class="parrafo italico">
                "Desde hace algun tiempo, he estudiado e inscrito en las bootcamps sagradas del mundo web y he realizado proyectos que me hacen darle vida al reino del internet"
            </p>
            <p class="parrafo italico">
                "La web a veces puede ser dificil de controlar. Creo que tengo la suficiente pasion, ganas y paciencia para hacer casi cualquier cosa que me proponga"
            </p>
        </div>
    </header>
    <main class="menu">
        <span id="proyectos"></span>
        <h2 class="titulo secciones" id="one">Web</h2>
        <p class="parrafo parrafo-azul">Proyectos que desarrolle o ayude a desarrollar como programador autodidacta</p>

        <div class="tarjetas">
            <div class="tarjeta headline">
                <a class="a-tarjeta" href="https://lmgalery.onrender.com/" target="_blank"><p class="parrafo-tarjeta">LM-Galery: Galeria de fotos con Node.js</p></a>
                <img class="img-tarjeta pr" src="" alt="">
            </div>
            <div class="tarjeta headline">
                <a class="a-tarjeta" href="https://samuelvasquezgonzalez.github.io/JuegoDadosJs/" target="_blank"><p class="parrafo-tarjeta">Juego De Dados con Javascript</p></a>
                <img class="img-tarjeta pr" src="" alt="">
            </div>
            <div class="tarjeta headline">
                <a class="a-tarjeta" href="https://github.com/SamuelVasquezGonzalez/DemongO" target="_blank"><p class="parrafo-tarjeta">Red Social de deportes extremos "DemongO" (sin terminar)</p></a>
                <img class="img-tarjeta pr" src="" alt="">
            </div>
            <div class="tarjeta headline">
                <a class="a-tarjeta" href="https://github.com/SamuelVasquezGonzalez?tab=repositories" target="_blank"><p class="parrafo-tarjeta">GitHub: Ver todos los repositorios +</p></a>
                <img class="img-tarjeta pr" src="" alt="">
            </div>
        </div>
        <span id="habilidades"></span>
        <h2 class="titulo secciones headline" id="two">Habilidades</h2>
        <p class="parrafo parrafo-azul headline">Observemos la increible tecnologia con la que hacemos magia en la web</p>
        
        <button class="btn headline"><img class="img-comunes sin-negro skater" id="girando" src=""></button>
   
        <div class="info headline">
            <p class="parrafo negrilla">Si estamos hablando de desarrollo web principalmente, podemos ir observando en otros y en mi tecnologias como <b>HTML5</b> que se encarga del maquetado del sitio web. Tambien Tenemos <b>CSS3</b> que se encarga del diseño del sitio web, de darle forma. <b>Javascript</b> Que se encarga del dinamismo del sitio web, que la pagina tenga funcionalidad y este viva!</p>
            
            <p class="parrafo negrilla headline">Actualmente estoy intentando dominar Node.js y sus modulos al igual que Express.js</p>
        </div>
        <div class="habilidades" >
            <h3 class="headline">Desarrollo Web</h3>
            <div class="seccion webTools  headline">
            </div>
            
            <h3 class="headline">Diseño de la web</h3>

            <div class="seccion desingWeb headline">
            </div>

            <h3 class="headline">Bases de datos</h3>
            <div class="seccion db headline">
            </div>
            <h3 class="headline">Herramientas</h3>
            <div class="seccion tools headline">
            </div>
            <h3 class="headline">Backend</h3>
            <div class="seccion backend headline">
            </div>
        </div>
        <span id="acercade"></span>
        <h2 class="titulo secciones headline" id="three">Acerca De</h3>
        <img class="img skeletonS" src="">
        <p class="parrafo-azul headline">¿Que puede hacer un desarrollador Front-end Developer?</p>
        <div class="info">
            <p class="parrafo negrilla headline">
                Como dicen por ahi algunos programadores, "si puedes soñarlo puedes programarlo", soy capaz de imaginar un sitio web de la nada a la existencia completamente desde cero. No uso trucos, ni tampoco magia, Me especializo en manipular la estructura misma de la web, sus materias primas de HTML, CSS Y JavaScript.
            </p>
            <p class="parrafo negrilla headline">
                Las tecnologias de codigo abierto me potencian en el proceso. Adopte por completo el editor de coodigo Visual Studio Code y puedo lanzar aplicaciones web personalizadas desde cero para contribuir cualquier necesidad concebible. He contribuido en pequeños proyectos de mis amigos que quieren seguir mi mismo camino. Tengo la intencion de aprovechar cada oportunidad que tengo para desarrollarme en lo que me gusta.
            </p>
            <p class="parrafo negrilla headline">
                Mi experiencia con el diseño no es mucha, de hecho adopte esta habilidad antes de comenzar a hacer codigo. Me gustaba editar fotos con mis amigos. Gracias a esto puedo implementar facilmente diseños en los sitios web que hago realidad.
            </p>
            <p class="parrafo negrilla headline">
                Puedo planificar, diseñar, construir, lanzar y mantener un sitio web yo mismo. Lastimosamente no cuento con certificados ni titulos que me mencionen como desarrollador, todos los conocimientos que tengo y voy obteniendo son gracias a cursos gratuitos que busco y completo.
            </p>
            <span id="contacto"></span>
            <img src="  " class="pequeña vector" alt="">
        </div> 
    </main>
    <!-- --------------------------------- -->
    <!-- --------------------------------- -->
    <!-- --------------------------------- -->
    
    <footer class="footer headline">
        <div class="redes">
            <a href="https://github.com/SamuelVasquezGonzalez" target="_blank" class="red">
                <i class="fa-brands fa-github-alt" title="@SamuelVasquezGonzalez en GitHub"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100055489142003" target="_blank"  class="red">
                <i class="fa-brands fa-facebook-f" title="Samu Gonzá en Facebook"></i>
            </a>
            <a href="https://www.instagram.com/samugonza.jpg/" target="_blank"  class="red">
                <i class="fa-brands fa-instagram" title="@samugonza.jpg en Instagram"></i>
            </a>
        </div>
        <div class="second-line">
            <!-- Place this tag where you want the button to render. -->
            <a class="github-button" href="https://github.com/SamuelVasquezGonzalez" data-size="large" data-show-count="true" aria-label="Follow @SamuelVasquezGonzalez on GitHub">Follow</a>
            <a class="github-button" href="https://github.com/SamuelVasquezGonzalez/portf" data-size="large" data-show-count="true" aria-label="Star SamuelVasquezGonzalez/portf on GitHub">Star</a>
        </div>
        <p class="parrafo-azul de">&#9400; Derechos Reservados</p>
        <button class="boton up"><i class="fa-solid fa-arrow-up"></i></button>
    </footer>
    <!-- --------------------------------- -->
    <!-- --------------------------------- -->
    <!-- --------------------------------- -->
    <script src="https://portafoliopersonal.onrender.com/scripts/particles.js"></script>
    <script src="https://portafoliopersonal.onrender.com/scripts/app.js"></script>
    <script src="https://portafoliopersonal.onrender.com/scripts/animaciones.js"></script>
    <script src="https://portafoliopersonal.onrender.com/scripts/api-request.js"></script>
    <script src="../scripts/media-request.js"></script>
    <script>
        ScrollReveal().reveal('.headline')
    </script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>